<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.juaracoding.Test_Web.Demo_Guru99.UjianMinggu5Day25"/>
      <class name="com.juaracoding.Test_Web.Demo_Guru99.PostTest10no1"/>
      <class name="com.juaracoding.Test_Web.Demo_Guru99.UjianMinggu3Day15"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
